%div.text-center
  %h1 Pick a Page
  %div
    = link_to "Page 1", welcome_static1_path, class: 'btn btn-primary btn-lg'
    = link_to "Page 2", welcome_static2_path, class: 'btn btn-success'
    = link_to "Page 3", welcome_static3_path, class: 'btn btn-danger btn-sm'
  %div
    = link_to "Page 4", welcome_static4_path, class: 'btn btn-default btn-sm'
    = link_to "Page 5", welcome_static5_path, class: 'btn btn-info'
    = link_to "Page 6", welcome_static6_path, class: 'btn btn-warning btn-lg'
  %div
    = link_to "Page 7", welcome_static7_path, class: 'btn btn-primary btn-lg'
    = link_to "Page 8", welcome_static8_path, class: 'btn btn-success'
    = link_to "Page 9", welcome_static9_path, class: 'btn btn-danger btn-sm'


